<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
">

    <import resource="classpath:applicationContext.xml"/>
    <context:component-scan base-package="tireservice"/>

    <bean name="personServices" class="cz.muni.fi.pa165.tireservice.services.PersonServicesImpl" >
    </bean>
    
    <bean name="tireServices" class="cz.muni.fi.pa165.tireservice.services.TireServicesImpl" >
    </bean>
    
    <bean name="tireTypeServices" class="cz.muni.fi.pa165.tireservice.services.ServiceTireTypeImpl" >
    </bean>
    
    <bean name="serviceServices" class="cz.muni.fi.pa165.tireservice.services.ServiceServicesImpl" >
    </bean>
    
    <bean name="orderServices" class="cz.muni.fi.pa165.tireservice.services.OrderServicesImpl" >
    </bean>

</beans>